@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.link:hover #arrow-up-right{
  transform: translateY(-4px);
}

.active {
  width: 16px;
  background-color: slate-200;
}
